<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="content-type" content="text/html; charset=utf-8" />
    <title>td{% block title %}{% endblock %}</title>
    <meta name="Keywords" content="{% block keyword %}{% endblock %}" />
    <meta name="Description" content="{% block description %}{% endblock %}" />
    <link rel="stylesheet" href="{{ 'frontend.static'|url('css/form.css') }}" type="text/css" /> 
    {%- block css -%}{%- endblock -%} 
    <link rel="Bookmark" type="image/x-icon" href="{{ 'frontend.static'|url('favicon.ico') }}" />   
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'frontend.static'|url('favicon.ico') }}" />
    <script type="text/javascript" src="{{ 'frontend.static'|url('js/jquery-1.7.2.min.js') }}"></script> 
    {%- block bootjs-%}{%- endblock -%}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
</head> 
<body> 
    {%- block content -%}{%- endblock -%} 
    
    <table class="mBlogLayer" id="confirm">
        <tbody>
        <tr>
            <td class="top_l"></td><td class="top_c"></td><td class="top_r"></td>
        </tr>
        <tr>
            <td class="mid_l"></td>
            <td class="mid_c">
                <div class="layerBox">
                    <div class="layerBoxTop">
                        <div class="topCon">
                            <strong>提示</strong>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="layerBoxCon" style="width: 360px; height: auto;">
                        <div class="commonLayer2">
                            <div class="layerL"><div class="PY_ib"></div></div>
                            <div class="layerR">    <strong class="message"></strong></div>
                            <div class="clear"></div>   
                            <div class="MIB_btn">   <a class="btn_normal" href="javascript:;"><em>确定</em></a></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="mid_r"></td>
        </tr>
        <tr><td class="bottom_l"></td><td class="bottom_c"></td><td class="bottom_r"></td></tr>
        </tbody>
    </table>  
    
    <script type="text/javascript" src="{{ 'frontend.static'|url('js/jquery.notty.js') }}"></script>
    <script type="text/javascript" src="{{ 'frontend.static'|url('js/main.js') }}"></script>  
    <iframe style="display: none;" name="__hidden_call" class=""></iframe>    
    {%- block js %}
    
    {%- endblock %} 
    <script type="text/javascript">
    <!--
    $(document).ready(function(){ 
        $('input[class="textinp"]').each(function(i,n){
            var title = $(n).attr('title'); 
            if(title && title!=''){ 
                $(n).val(title); 
            }
            
        });
        $('input[class="textinp"]').focus(function(){ 
            $(this).parent().parent().attr('class','input_bg_hover')
            var rel = $(this).attr('rel');
            if(rel && rel != this.id){
                $(this).hide();
                $('#' + rel).show();
                $('#' + rel).focus();
                return;
            }
            if($(this).val() == $(this).attr('title')){
                $(this).val('');
            } 
        }).blur(function(){  
            var id = $(this).attr('id');
            $('#red_'+id).hide();
            if($(this).val() == '' | $(this).val() == $(this).attr('title') ){
                $(this).val($(this).attr('title'));
                var rel = $(this).attr('rel'); 
                if(rel && rel == id){
                    $(this).hide();
                    $('#' + rel + "_text").show(); 
                }else if(rel){
                    return;
                }
            }
            $(this).parent().parent().attr('class','input_bg')
        });
        $('a[name="submit"]').click(function(){
            var old_css = $(this).attr('class');
            $(this).attr('class',old_css + " " + old_css + 'loading');
            $(this).parents('form').submit();
        });
        {% block jsonload %}{% endblock %} 
    });
    //-->
    </script>
</body>
</html>