{% extends "other/layout.html"%}
{% from "base_macros.html" import paginate %}
{% block subjs %}

{% endblock %}
{%- block main -%}
        <div class="span10">
            
            <div class="well form-inline">
                名单:
                <textarea id="names"></textarea>
                类型:
                <select class="span2" id="t">
                    <option value="1">pid</option>
                    <option value="2">uid</option>
                </select>
                <button type="button" class="btn" id='submit'>增加服务器</button>
                
            </div>
            <div class="well form-inline hidefive" id="disfive">
                编辑：<br />
                id:
                <input type="text" class="input-big" id="edit_id" readonly="readonly">
                名单:
                <textarea id="edit_names"></textarea>
                类型:
                <select class="span2" id="edit_t">
                    <option value="1">pid</option>
                    <option value="2">uid</option>
                </select>
                <button type="button" class="btn" id='edit_submit'>提交</button>
                <button type="button" class="btn" id='edit_cancel' onclick="$(this).parent().attr('class','well form-inline hidefive')">取消</button>
            </div>
            {{ paginate(page_count,url_for('other.server_filter'),current_page=page) }}
            <table class="table table-bordered">
                <tr>
                    <td>名单</td>
                    <td>类型</td>
                    <td>操作</td>
                </tr>
                {%- for r in ret.items -%}
                <tr>
                    <td><p id='{{ r.mongo_id }}_names'>{{ r.n }}</p></td>
                    <td><p id='{{ r.mongo_id }}_t'>{{ r.t }}</p></td>
                    <td>
                        <button type="button" class="btn" onclick="GAME.load.filter(this, '{{ r.mongo_id }}')" stype="del" href="/other/server/filter/order/">删除</button>
                        <button type="button" class="btn" onclick="GAME.load.filter(this, '{{ r.mongo_id }}')" stype="edit" href="/other/server/filter/order/">编辑</button>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div><!--/row-->

</div><!--/.fluid-container-->

<script type="text/javascript">
    $(document).ready(function(){
        $("#submit").click(function(){
            var names = $("#names").val();
            var t = $("#t").val();
            var url = "{{ url_for('other.server_filter_order') }}";
            $.post(url,{
                names:names,t:t, opType:"new"
            },function(data){
                if(data['success'] == 0){
                    alert("添加角色等级失败");
                }else{
                    location.reload() 
                }
            });
        });
        $("#edit_submit").click(function(){
            var id = $("#edit_id").val();
            var names = $("#edit_names").val();
            var t = $("#edit_t").val();
            var url = "{{ url_for('other.server_filter_order') }}";
            $.post(url,{
                id:id,names:names,t:t, opType:"edit"
            },function(data){
                if(data['success'] == 0){
                    alert("修改失败");
                }else{
                    location.reload() 
                }
            });
        });
        
    });
</script>
{%- endblock -%}