{%- extends "admin/layout.html" -%}
{% from "base_macros.html" import progress %}
{%- block main -%}

<div class="span10">活动表：
	{% if g.user.role >= 300 or g.user.right[1] == 1 %}
	<form action="" method="POST" enctype="multipart/form-data"  class="well form-inline">
		选择xls/xlsx文件：  <input type="file" name="xlsfile">
		<input type="submit" value="提交">
	</form>
	<button type="button" class="btn" href="/admin/admin/confirm/delete/" val="{{ coll }}" onclick="GAME.load.delete_all(this)">清除所有数据</button>
	<div class="well form-inline hidefive" id="disfive">
	  	编辑：<br />
	  	id:
	  	<input type="text" class="input-small" id="edit_id" readonly="readonly">
	  	类型：
	  	<input type="text" class="input-small" id="edit_type">
	  	开启时间：
	  	<input type="text" class="input-small" id="edit_time">
	  	boss等级表id：
	  	<input type="text" class="input-small" id="edit_blid">
	  	<button type="button" class="btn" id='edit_submit'>提交</button>
	  	<button type="button" class="btn" id='edit_cancel' onclick="$(this).parent().attr('class','well form-inline hidefive')">取消</button>
	</div>
	{% endif %}
	{% if g.user.role >= 300 or g.user.right[0] == 1 %}
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>id</td>
			<td>类型</td>
			<td>开启时间</td>
			<td>boss等级表id</td>
			<td>操作</td>
		 </tr>
		 {%- for r in ret -%}
		<tr>
			<td>{{ r._id }}</td>
			<td>{{ r.type }}</td>
			<td>{{ r.time }}</td>
			<td>{{ r.blid }}</td>
			<td>
				{% if g.user.role >= 300 or g.user.right[1] == 1 %}
				<button type="button" class="btn" id='delete' onclick="GAME.load.delete(this)" href="{{ url_for('admin.admin_delete', db=g.GAMEBASE, table=coll, id=r['_id']) }}">删除</button>
                <button type="button" class="btn" id='edit' onclick="GAME.load.get_data(this)" href="{{url_for('admin.admin_data', db=g.GAMEBASE, table=coll, id=r['_id'])}}">编辑</button>
				{% endif %}
			</td>
		</tr>	
		{% endfor %}  
	</table>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#edit_submit").click(function(){
				var id = $("#edit_id").val();
				var type = $("#edit_type").val();
				var time = $("#edit_time").val();
				var blid = $("#edit_blid").val();
				$.post('/admin/admin/activity/save/',{
					id:id,
					type:type,
					time:time,
					blid:blid
				},function(data){
					if(data['success'] == "0"){
						alert("添加角色等级失败");
					}else{
						location.reload() 
					}
				});
			});
		});
	</script>
	{% endif %}
		</div>
  </div><!--/row-->

</div><!--/.fluid-container-->
{%- endblock -%}