{%- extends "admin/layout.html" -%}
{% from "base_macros.html" import progress %}
{%- block main -%}

<div class="span10">
	同盟权限表：
	{% if g.user.role >= 300 or g.user.right[1] == 1 %}
	<form action="" method="POST" enctype="multipart/form-data"  class="well form-inline">
		选择xls/xlsx文件：  <input type="file" name="xlsfile">
		<input type="submit" value="提交">
	</form>
	<button type="button" class="btn" href="/admin/admin/confirm/delete/" val="{{ coll }}" onclick="GAME.load.delete_all(this)">清除所有数据</button>

	<div class="well form-inline hidefive" id="disfive">
	  	编辑：<br />
	  	id:
	  	<input type="text" class="input-small" id="edit_id" readonly="readonly">
	  	名字：
	  	<input type="text" class="input-small" id="edit_name" placeholder="str">
	  	职务：
	  	<input type="text" class="input-small" id="edit_duty" placeholder="int">
	  	能改变职责：
	  	 <input type="text" class="input-small" id="edit_change" placeholder="int">
	  	 是否可以踢人 ：
	  	 <input type="text" class="input-small" id="edit_kick" placeholder="int">
	  	 是否可以查看并审核入盟申请：
	  	 <input type="text" class="input-small" id="edit_check" placeholder="int">
        是否可以修改公告：
        <input type="text" class="input-small" id="edit_post" placeholder="int">
	  	<button type="button" class="btn" id='edit_submit'>提交</button>
	  	<button type="button" class="btn" id='edit_cancel' onclick="$(this).parent().attr('class','well form-inline hidefive')">取消</button>
	</div>
    {% endif %}
    {% if g.user.role >= 300 or g.user.right[0] == 1 %}
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>id</td>
			<td>名字</td>
			<td>职务</td>
			<td>能改变职责</td>
			<td>是否可以踢人</td>
			<td>是否可以查看并审核入盟申请</td>
            <td>是否可以修改公告</td>
			<td>操作</td>
		 </tr>
		 {%- for r in ret -%}
		<tr>
			<td>{{ r._id }}</td>
			<td>{{ r.name}}</td>
			<td>{{ r.duty }}</td>
			<td>{{ r.change }}</td>
			<td>{{ r.kick }}</td>
			<td>{{ r.check }}</td>
            <td>{{ r.post }} </td>
			<td>
				{% if g.user.role >= 300 or g.user.right[1] == 1 %}
				<button type="button" class="btn" id='delete' onclick="GAME.load.delete(this)" href="{{ url_for('admin.admin_delete', db=g.GAMEBASE, table=coll, id=r['_id']) }}">删除</button>
                <button type="button" class="btn" id='edit' onclick="GAME.load.get_data(this)" href="{{url_for('admin.admin_data', db=g.GAMEBASE, table=coll, id=r['_id'])}}">编辑</button>
				{% endif %}
			</td>
		</tr>	
		{% endfor %}  
	</table>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#edit_submit").click(function(){
				var id = $("#edit_id").val();
				var name = $("#edit_name").val();
				var duty = $("#edit_duty").val();
				var change = $("#edit_change").val();
				var kick = $("#edit_kick").val();
				var check = $("#edit_check").val();
                var post = $("#edit_post").val();
				$.post('/admin/admin/ally/right/save/',{
					id:id,
					name:name,
					duty:duty,
					change:change,
					kick:kick,
					check:check,
                    post:post
				},function(data){
					if(data['success'] == "0"){
						alert("添加角色等级失败");
					}else{
						location.reload() 
					}
				});
			});
		});
	</script>
	{% endif %}
		</div>
  </div><!--/row-->

</div><!--/.fluid-container-->
{%- endblock -%}