{%- extends "admin/layout.html" -%}
{% from "base_macros.html" import progress %}
{%- block main -%}

<div class="span10">
	章节表：
	{% if g.user.role >= 300 or g.user.right[1] == 1 %}
	<form action="" method="POST" enctype="multipart/form-data"  class="well form-inline">
		选择xls/xlsx文件：  <input type="file" name="xlsfile">
		<input type="submit" value="提交">
	</form>
	<button type="button" class="btn" href="/admin/admin/confirm/delete/" val="{{ coll }}" onclick="GAME.load.delete_all(this)">清除所有数据</button>

	<div class="well form-inline hidefive" id="disfive">
	  	编辑：<br />
	  	id:
	  	<input type="text" class="input-small" id="edit_id" readonly="readonly">
	  	名字：
	  	<input type="text" class="input-small" id="edit_name" placeholder="str">
	  	是否初章：
	  	<select class="span1" id="edit_start">
            <option value=""></option>
            <option value="0">0 - 否</option>
            <option value="1">1 - 是</option>
        </select>
	  	开始章节的任务id：
	  	<input type="text" class="input-small" id="edit_startTid" placeholder="int">
	  	完成章节的任务id：
	  	<input type="text" class="input-small" id="edit_endTid" placeholder="int">
	  	本章节默认地图id：
	  	<input type="text" class="input-small" id="edit_mid" placeholder="int">
	  	<button type="button" class="btn" id='edit_submit'>提交</button>
	  	<button type="button" class="btn" id='edit_cancel' onclick="$(this).parent().attr('class','well form-inline hidefive')">取消</button>
	</div>
    {% endif %}
    {% if g.user.role >= 300 or g.user.right[0] == 1 %}
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>id</td>
			<td>名字</td>
			<td>是否初章</td>
			<td>开始章节的任务id</td>
			<td>完成章节的任务id</td>
			<td>本章节默认地图id</td>
			<td>操作</td>
		 </tr>
		 {%- for r in ret -%}
		<tr>
			<td>{{ r._id }}</td>
			<td>{{ r.name }}</td>
			<td>{{ r.start }}</td>
			<td>{{ r.startTid }}</td>
			<td>{{ r.endTid}}</td>
			<td>{{ r.mid }}</td>
			<td>
				{% if g.user.role == 300 or g.user.right[1] == 1 %}
				<button type="button" class="btn" id='delete' onclick="GAME.load.delete(this)" href="{{ url_for('admin.admin_delete', db=g.GAMEBASE, table=coll, id=r['_id']) }}">删除</button>
                <button type="button" class="btn" id='edit' onclick="GAME.load.get_data(this)" href="{{url_for('admin.admin_data', db=g.GAMEBASE, table=coll, id=r['_id'])}}">编辑</button>
				{% endif %}
			</td>
		</tr>	
		{% endfor %}  
	</table>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#edit_submit").click(function(){
				var id = $("#edit_id").val();
				var name = $("#edit_name").val();
				var start = $("#edit_start").val();
				var startTid = $("#edit_startTid").val();
				var endTid = $("#edit_endTid").val();
				var mid = $("#edit_mid").val();
				$.post('/admin/admin/chapter/save/',{
					id:id,
					name:name,
					start:start,
					startTid:startTid,
					endTid:endTid,
					mid:mid
				},function(data){
					if(data['success'] == "0"){
						alert("添加角色等级失败");
					}else{
						location.reload() 
					}
				});
				
					
			});
		});
	</script>
	{% endif %}
		</div>
  </div><!--/row-->

</div><!--/.fluid-container-->
{%- endblock -%}