{%- extends "admin/layout.html" -%}
{% from "base_macros.html" import progress %}
{%- block main -%}

<div class="span10">阵型等级表：
	{% if g.user.role >= 300 or g.user.right[1] == 1 %}
	<form action="" method="POST" enctype="multipart/form-data"  class="well form-inline">
		选择xls/xlsx文件：  <input type="file" name="xlsfile">
		<input type="submit" value="提交">
	</form>
	<button type="button" class="btn" href="/admin/admin/confirm/delete/" val="{{ coll }}" onclick="GAME.load.delete_all(this)">清除所有数据</button>
	{% endif %}
	{% if g.user.role >= 300 or g.user.right[0] == 1 %}
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>id</td>
			<td>阵型id</td>
			<td>等级</td>
			<td>解锁等级</td>
			<td>解锁任务</td>
			<td>花费银币</td>
			<td>位置1</td>
			<td>位置2</td>
			<td>位置3</td>
			<td>位置4</td>
			<td>位置5</td>
			<td>位置6</td>
			<td>位置7</td>
			<td>位置8</td>
			<td>位置9</td>
			<td>位置10</td>
			<td>位置11</td>
			<td>位置12</td>
			<td>位置13</td>
			<td>位置14</td>
			<td>位置15</td>
			<td>说明</td>
			<td>操作</td>
		 </tr>
		 {%- for r in ret -%}
		<tr id='{{ r._id }}'>
			<td>{{ r._id }}</td>
			<td><span>{{ r.pid }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.level}}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.lockLevel }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.lockTask }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.coin1 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s1 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s2 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s3 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s4 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s5 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s6 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s7 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s8 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s9 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s10 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s11 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s12 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s13 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s14 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.s15 }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td><span>{{ r.info }}</span><input type="text" style="display:none; width:30px; "/></td>
			<td>
				{% if g.user.role >= 300 or g.user.right[1] == 1 %}
				<button type="button" class="btn" id='delete' onclick="GAME.load.delete(this)" href="{{ url_for('admin.admin_delete', db=g.GAMEBASE, table=coll, id=r['_id']) }}">删除</button>

				<button type="button" class="btn" id="edit" onclick="edit_click({{ r._id }})">编辑</button>
                <button id="save" class="btn" onclick="save_click({{ r._id }})" style="display:none">保存</button>
                {% endif %}
			</td>
		</tr>	
		{% endfor %} 
		<tr id="appendText" style="display:none;"> </tr> 
	</table>
	
<script type="text/javascript">
	function edit_click(val){
	var  id = val;
	$('#'+id+' td:nth-child(2)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(3)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(4)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(5)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(6)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(7)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(8)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(9)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(10)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(11)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(12)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(13)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(14)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(15)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(16)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(17)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(18)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(19)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(20)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(21)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(22)>input').css({display:"inline-block"});
	$('#'+id+' td:nth-child(2)>input').val($('#'+id+' td:nth-child(2)>span').text());
	$('#'+id+' td:nth-child(3)>input').val($('#'+id+' td:nth-child(3)>span').text());
	$('#'+id+' td:nth-child(4)>input').val($('#'+id+' td:nth-child(4)>span').text());
	$('#'+id+' td:nth-child(5)>input').val($('#'+id+' td:nth-child(5)>span').text());
	$('#'+id+' td:nth-child(6)>input').val($('#'+id+' td:nth-child(6)>span').text());
	$('#'+id+' td:nth-child(7)>input').val($('#'+id+' td:nth-child(7)>span').text());
	$('#'+id+' td:nth-child(8)>input').val($('#'+id+' td:nth-child(8)>span').text());
	$('#'+id+' td:nth-child(9)>input').val($('#'+id+' td:nth-child(9)>span').text());
	$('#'+id+' td:nth-child(10)>input').val($('#'+id+' td:nth-child(10)>span').text());
	$('#'+id+' td:nth-child(11)>input').val($('#'+id+' td:nth-child(11)>span').text());
	$('#'+id+' td:nth-child(12)>input').val($('#'+id+' td:nth-child(12)>span').text());
	$('#'+id+' td:nth-child(13)>input').val($('#'+id+' td:nth-child(13)>span').text());
	$('#'+id+' td:nth-child(14)>input').val($('#'+id+' td:nth-child(14)>span').text());
	$('#'+id+' td:nth-child(15)>input').val($('#'+id+' td:nth-child(15)>span').text());
	$('#'+id+' td:nth-child(16)>input').val($('#'+id+' td:nth-child(16)>span').text());
	$('#'+id+' td:nth-child(17)>input').val($('#'+id+' td:nth-child(17)>span').text());
	$('#'+id+' td:nth-child(18)>input').val($('#'+id+' td:nth-child(18)>span').text());
	$('#'+id+' td:nth-child(19)>input').val($('#'+id+' td:nth-child(19)>span').text());
	$('#'+id+' td:nth-child(20)>input').val($('#'+id+' td:nth-child(20)>span').text());
	$('#'+id+' td:nth-child(21)>input').val($('#'+id+' td:nth-child(21)>span').text());
	$('#'+id+' td:nth-child(22)>input').val($('#'+id+' td:nth-child(22)>span').text());
	$('#'+id+' td:nth-child(2)>span').text("");
	$('#'+id+' td:nth-child(3)>span').text("");
	$('#'+id+' td:nth-child(4)>span').text("");
	$('#'+id+' td:nth-child(5)>span').text("");
	$('#'+id+' td:nth-child(6)>span').text("");
	$('#'+id+' td:nth-child(7)>span').text("");
	$('#'+id+' td:nth-child(8)>span').text("");
	$('#'+id+' td:nth-child(9)>span').text("");
	$('#'+id+' td:nth-child(10)>span').text("");
	$('#'+id+' td:nth-child(11)>span').text("");
	$('#'+id+' td:nth-child(12)>span').text("");
	$('#'+id+' td:nth-child(13)>span').text("");
	$('#'+id+' td:nth-child(14)>span').text("");
	$('#'+id+' td:nth-child(15)>span').text("");
	$('#'+id+' td:nth-child(16)>span').text("");
	$('#'+id+' td:nth-child(17)>span').text("");
	$('#'+id+' td:nth-child(18)>span').text("");
	$('#'+id+' td:nth-child(19)>span').text("");
	$('#'+id+' td:nth-child(20)>span').text("");
	$('#'+id+' td:nth-child(21)>span').text("");
	$('#'+id+' td:nth-child(22)>span').text("");
	$('#'+id+' td:nth-child(23)>button:nth-child(3)').css({display:"inline-block"});
	$('#'+id+' td:nth-child(23)>button:nth-child(2)').css({display:"none"});

}
function save_click(val){
	var  id1 = val;
	var pid = $('#'+id1+' td:nth-child(2)>input').val()
	var level = $('#'+id1+' td:nth-child(3)>input').val();
	var lockLevel =  $('#'+id1+' td:nth-child(4)>input').val();
	var lockTask =  $('#'+id1+' td:nth-child(5)>input').val();
	var coin1 =  $('#'+id1+' td:nth-child(6)>input').val();
	var s1 =  $('#'+id1+' td:nth-child(7)>input').val();
	var s2 =  $('#'+id1+' td:nth-child(8)>input').val();
	var s3 =  $('#'+id1+' td:nth-child(9)>input').val();
	var s4 =  $('#'+id1+' td:nth-child(10)>input').val();
	var s5 =  $('#'+id1+' td:nth-child(11)>input').val();
	var s6 =  $('#'+id1+' td:nth-child(12)>input').val();
	var s7 =  $('#'+id1+' td:nth-child(13)>input').val();
	var s8 =  $('#'+id1+' td:nth-child(14)>input').val();
	var s9 = $('#'+id1+' td:nth-child(15)>input').val();
	var s10 = $('#'+id1+' td:nth-child(16)>input').val();
	var s11 =  $('#'+id1+' td:nth-child(17)>input').val();
	var s12 =  $('#'+id1+' td:nth-child(18)>input').val();
	var s13 = $('#'+id1+' td:nth-child(19)>input').val();
	var s14 =  $('#'+id1+' td:nth-child(20)>input').val();
	var s15 =  $('#'+id1+' td:nth-child(21)>input').val();
	var info =  $('#'+id1+' td:nth-child(22)>input').val();
	$.post('/admin/admin/pos/level/save/',{
		id:id1,
		pid:pid,
		level:level,
		lockLevel:lockLevel,
		lockTask:lockTask,
		coin1:coin1,
		s1:s1,
		s2:s2,
		s3:s3,
		s4:s4,
		s5:s5,
		s6:s6,
		s7:s7,
		s8:s8,
		s9:s9,
		s10:s10,
		s11:s11,
		s12:s12,
		s13:s13,
		s14:s14,
		s15:s15,
		info:info
	},function(data) {
		if(data['success'] == "0"){
			alert("修改角色失败");
			location.reload() 
		}else{
			$('#'+id1+' td:nth-child(2)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(3)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(4)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(5)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(6)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(7)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(8)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(9)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(10)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(11)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(12)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(13)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(14)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(15)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(16)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(17)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(18)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(19)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(20)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(21)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(22)>input').css({display:"none"});
			$('#'+id1+' td:nth-child(2)>span').text($('#'+id1+' td:nth-child(2)>input').val());
			$('#'+id1+' td:nth-child(3)>span').text($('#'+id1+' td:nth-child(3)>input').val());
			$('#'+id1+' td:nth-child(4)>span').text($('#'+id1+' td:nth-child(4)>input').val());
			$('#'+id1+' td:nth-child(5)>span').text($('#'+id1+' td:nth-child(5)>input').val());
			$('#'+id1+' td:nth-child(6)>span').text($('#'+id1+' td:nth-child(6)>input').val());
			$('#'+id1+' td:nth-child(7)>span').text($('#'+id1+' td:nth-child(7)>input').val());
			$('#'+id1+' td:nth-child(8)>span').text($('#'+id1+' td:nth-child(8)>input').val());
			$('#'+id1+' td:nth-child(9)>span').text($('#'+id1+' td:nth-child(9)>input').val());
			$('#'+id1+' td:nth-child(10)>span').text($('#'+id1+' td:nth-child(10)>input').val());
			$('#'+id1+' td:nth-child(11)>span').text($('#'+id1+' td:nth-child(11)>input').val());
			$('#'+id1+' td:nth-child(12)>span').text($('#'+id1+' td:nth-child(12)>input').val());
			$('#'+id1+' td:nth-child(13)>span').text($('#'+id1+' td:nth-child(13)>input').val());
			$('#'+id1+' td:nth-child(14)>span').text($('#'+id1+' td:nth-child(14)>input').val());
			$('#'+id1+' td:nth-child(15)>span').text($('#'+id1+' td:nth-child(15)>input').val());
			$('#'+id1+' td:nth-child(16)>span').text($('#'+id1+' td:nth-child(16)>input').val());
			$('#'+id1+' td:nth-child(17)>span').text($('#'+id1+' td:nth-child(17)>input').val());
			$('#'+id1+' td:nth-child(18)>span').text($('#'+id1+' td:nth-child(18)>input').val());
			$('#'+id1+' td:nth-child(19)>span').text($('#'+id1+' td:nth-child(19)>input').val());
			$('#'+id1+' td:nth-child(20)>span').text($('#'+id1+' td:nth-child(20)>input').val());
			$('#'+id1+' td:nth-child(21)>span').text($('#'+id1+' td:nth-child(21)>input').val());
			$('#'+id1+' td:nth-child(22)>span').text($('#'+id1+' td:nth-child(22)>input').val());
			$('#'+id1+' td:nth-child(23)>button:nth-child(2)').css({display:"inline-block"});
			$('#'+id1+' td:nth-child(23)>button:nth-child(3)').css({display:"none"});
		}
	});
}
</script>
	{% endif %}
		</div>
  </div><!--/row-->

</div><!--/.fluid-container-->
{%- endblock -%}