{%- extends "admin/layout.html" -%}
{% from "base_macros.html" import progress,paginate, search %}
{%- block main -%}

<div class="span10">
	玩家阵型表：
	{% if g.user.role >= 300 or g.user.right[3] == 1 %}
	<button type="button" class="btn" href="/admin/admin/confirm/delete/" val="{{ coll }}" onclick="GAME.load.delete_all(this)">清除所有数据</button>
	{% endif %}
	{% if g.user.role >= 300 or g.user.right[2] == 1 %}
	{{ paginate(page_count,url_for('admin.baseuser_p_position'),current_page=page) }}
	{{ search(g.GAME_BASEUSER, coll) }}
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>id</td>
			<td>玩家id</td>
			<td>阵型id</td>
			<td>命格等级</td>
			<td>位置1</td>
			<td>位置2</td>
			<td>位置3</td>
			<td>位置4</td>
			<td>位置5</td>
			<td>位置6</td>
			<td>位置7</td>
			<td>位置8</td>
			<td>位置9</td>
			<td>位置10</td>
			<td>位置11</td>
			<td>位置12</td>
			<td>位置13</td>
			<td>位置14</td>
			<td>位置15</td>
			<td>操作</td>
		 </tr>
		 {%- for r in ret -%}
		<tr id='{{ r._id }}'>
			<td>{{ r._id }}</td>
			<td><span>{{ r.pid }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.posId }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.level }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s1 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s2 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s3 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s4 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s5 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s6 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s7 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s8 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s9 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s10 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s11 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s12 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s13 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s14 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td><span>{{ r.s15 }}</span><input type="text" style="display:none; width:40px; "/></td>
			<td>
				{% if g.user.role >= 300 or g.user.right[3] == 1 %}
				<button type="button" class="btn" id='delete' onclick="GAME.load.delete(this)" href="{{ url_for('admin.admin_delete', db=g.GAME_BASEUSER, table=coll, id=r['_id']) }}">删除</button>
				<button type="button" class="btn" id="edit" onclick="edit_click({{ r._id }})">编辑</button>
                <button id="save" class="btn" onclick="save_click({{ r._id }})" style="display:none">保存</button>
                {% endif %}
			</td>
		</tr>	
		{% endfor %}  
		<tr id="appendText" style="display:none;"> </tr> 
	</table>
	{% endif %}
	<script type="text/javascript">
		function edit_click(val){
		var  id = val;
		for(var i=2; i<20; i++){
			$('#'+id+' td:nth-child('+i+')>input').css({display:"inline-block"});
			$('#'+id+' td:nth-child('+i+')>input').val($('#'+id+' td:nth-child('+i+')>span').text());
			$('#'+id+' td:nth-child('+i+')>span').text("");
		}
		
		$('#'+id+' td:nth-child(2)>span').append("<font style='font-size:12px'>玩家id</font>");
		$('#'+id+' td:nth-child(3)>span').append("<font style='font-size:12px'>阵型id</font>");
		$('#'+id+' td:nth-child(4)>span').append("<font style='font-size:12px'>命格等级</font>");
		$('#'+id+' td:nth-child(5)>span').append("<font style='font-size:12px'>位置1</font>");
		$('#'+id+' td:nth-child(6)>span').append("<font style='font-size:12px'>位置2</font>");
		$('#'+id+' td:nth-child(7)>span').append("<font style='font-size:12px'>位置3</font>");
		$('#'+id+' td:nth-child(8)>span').append("<font style='font-size:12px'>位置4</font>");
		$('#'+id+' td:nth-child(9)>span').append("<font style='font-size:12px'>位置5</font>");
		$('#'+id+' td:nth-child(10)>span').append("<font style='font-size:12px'>位置6</font>");
		$('#'+id+' td:nth-child(11)>span').append("<font style='font-size:12px'>位置7</font>");
		$('#'+id+' td:nth-child(12)>span').append("<font style='font-size:12px'>位置8</font>");
		$('#'+id+' td:nth-child(13)>span').append("<font style='font-size:12px'>位置9</font>");
		$('#'+id+' td:nth-child(14)>span').append("<font style='font-size:12px'>位置10</font>");
		$('#'+id+' td:nth-child(15)>span').append("<font style='font-size:12px'>位置11</font>");
		$('#'+id+' td:nth-child(16)>span').append("<font style='font-size:12px'>位置12</font>");
		$('#'+id+' td:nth-child(17)>span').append("<font style='font-size:12px'>位置13</font>");
		$('#'+id+' td:nth-child(18)>span').append("<font style='font-size:12px'>位置14</font>");
		$('#'+id+' td:nth-child(19)>span').append("<font style='font-size:12px'>位置15</font>");
		$('#'+id+' td:nth-child(20)>button:nth-child(3)').css({display:"inline-block"});
		$('#'+id+' td:nth-child(20)>button:nth-child(2)').css({display:"none"});

	}
	function save_click(val){
		var  id1 = val;
		var pid = $('#'+id1+' td:nth-child(2)>input').val();
		var posId = $('#'+id1+' td:nth-child(3)>input').val();
		var level = $('#'+id1+' td:nth-child(4)>input').val();
		var s1 = $('#'+id1+' td:nth-child(5)>input').val();
		var s2 = $('#'+id1+' td:nth-child(6)>input').val();
		var s3 = $('#'+id1+' td:nth-child(7)>input').val();
		var s4 = $('#'+id1+' td:nth-child(8)>input').val();
		var s5 = $('#'+id1+' td:nth-child(9)>input').val();
		var s6 = $('#'+id1+' td:nth-child(10)>input').val();
		var s7 = $('#'+id1+' td:nth-child(11)>input').val();
		var s8 = $('#'+id1+' td:nth-child(12)>input').val();
		var s9 = $('#'+id1+' td:nth-child(13)>input').val();
		var s10 = $('#'+id1+' td:nth-child(14)>input').val();
		var s11 = $('#'+id1+' td:nth-child(15)>input').val();
		var s12 = $('#'+id1+' td:nth-child(16)>input').val();
		var s13 = $('#'+id1+' td:nth-child(17)>input').val();
		var s14 = $('#'+id1+' td:nth-child(18)>input').val();
		var s15 = $('#'+id1+' td:nth-child(19)>input').val();
		$.post('/admin/baseuser/p/position/save/',{
			id:id1,
			pid:pid,
			posId:posId,
			level:level,
			s1:s1,
			s2:s2,
			s3:s3,
			s4:s4,
			s5:s5,
			s6:s6,
			s7:s7,
			s8:s8,
			s9:s9,
			s10:s10,
			s11:s11,
			s12:s12,
			s13:s13,
			s14:s14,
			s15:s15
		},function(data) {
			if(data['success'] == "0"){
				alert("修改角色失败");
				location.reload() 
			}else{
				for(var i=2; i<20;  i++){
				$('#'+id1+' td:nth-child('+i+')>input').css({display:"none"});
				$('#'+id1+' td:nth-child('+i+')>span').text($('#'+id1+' td:nth-child('+i+')>input').val());
				}
				$('#'+id1+' td:nth-child(20)>button:nth-child(2)').css({display:"inline-block"});
				$('#'+id1+' td:nth-child(20)>button:nth-child(3)').css({display:"none"});
			}
		});
	}
	</script>
		</div>
  </div><!--/row-->

</div><!--/.fluid-container-->
{%- endblock -%}
