{%- extends "admin/layout.html" -%}
{% from "base_macros.html" import progress, paginate, search %}
{%- block main -%}

<div class="span10">
	玩家属性表：
	{% if g.user.role >= 300 or g.user.right[3] == 1 %}
	<button type="button" class="btn" href="/admin/admin/confirm/delete/" val="{{ coll }}" onclick="GAME.load.delete_all(this)">清除所有数据</button>
	{% endif %}
	{% if g.user.role >= 300 or g.user.right[2] == 1 %}
	{{ paginate(page_count,url_for('admin.baseuser_p_attr'),current_page=page) }}
	{{ search(g.GAME_BASEUSER, coll) }}
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>id</td>
			<td>玩家id</td>
			<td>银币猎命次数</td>
			<td>元宝猎命次数</td>
			<td>最后一次猎命时间</td>
			<td>已完成任务列表</td>
			<td>操作</td>
		 </tr>
		 {%- for r in ret -%}
		<tr id='{{ r._id }}'>
			<td>{{ r._id }}</td>
			<td><span>{{ r.pid }}</span><input type="text" style="display:none; width:100px;"/></td>
			<td><span>{{ r.hitFateNum1 }}</span><input type="text" style="display:none; width:100px;"/></td>
			<td><span>{{ r.hitFateNum2 }}</span><input type="text" style="display:none; width:100px;"/></td>
			<td><span>{{ r.hitFateLastTime }}</span><input type="text" style="display:none; width:100px;"/></td>
			<td><span>{{ r.endTasks }}</span><input type="text" style="display:none; width:100px;"/></td>
			<td>
				{% if g.user.role >= 300 or g.user.right[3] == 1 %}
				<button type="button" class="btn" id='delete' onclick="GAME.load.delete(this)" href="{{ url_for('admin.admin_delete', db=g.GAME_BASEUSER, table=coll, id=r['_id']) }}">删除</button>
				<button type="button" class="btn" id="edit" onclick="edit_click({{ r._id }})">编辑</button>
                <button id="save" class="btn" onclick="save_click({{ r._id }})" style="display:none">保存</button>
                {% endif %}
			</td>
		</tr>	
		{% endfor %}
		<tr id="appendText" style="display:none;"> </tr>   
	</table>
	{% endif %}
	<script type="text/javascript">
		function edit_click(val){
			var id = val;
			for(var i=2; i<7; i++){
				$('#'+id+' td:nth-child('+i+')>input').css({display:"inline-block"});
				$('#'+id+' td:nth-child('+i+')>input').val($('#'+id+' td:nth-child('+i+')>span').text());
				$('#'+id+' td:nth-child('+i+')>span').text("");
			}
			$('#'+id+' td:nth-child(2)>span').append("<font style='font-size:12px'>玩家id</font>");
			$('#'+id+' td:nth-child(3)>span').append("<font style='font-size:12px'>银币猎命次数</font>");
			$('#'+id+' td:nth-child(4)>span').append("<font style='font-size:12px'>玩元宝猎命次数</font>");
			$('#'+id+' td:nth-child(5)>span').append("<font style='font-size:12px'>最后一次猎命时间</font>");
			$('#'+id+' td:nth-child(6)>span').append("<font style='font-size:12px'>已完成任务列表</font>");
			$('#'+id+' td:nth-child(7)>button:nth-child(3)').css({display:"inline"});
			$('#'+id+' td:nth-child(7)>button:nth-child(2)').css({display:"none"});
			}
		function save_click(val){
			var id1 = val;
			var pid = $('#'+id1+' td:nth-child(2)>input').val();
			var hitFateNum1 =$('#'+id1+' td:nth-child(3)>input').val();
			var hitFateNum2 = $('#'+id1+' td:nth-child(4)>input').val();
			var hitFateLastTime = $('#'+id1+' td:nth-child(5)>input').val();
			var endTasks = $('#'+id1+' td:nth-child(6)>input').val();
			$.post('/admin/baseuser/p/attr/save/',{
				id:id1,
				pid:pid,
				hitFateNum1:hitFateNum1,
				hitFateNum2:hitFateNum2,
				hitFateLastTime:hitFateLastTime,
				endTasks:endTasks
			},function(data) {
				if(data['success'] == "0"){
					alert("修改角色经验失败");
				}else{
					for(var i=2; i<7; i++){
						$('#'+id1+' td:nth-child('+i+')>input').css({display:"none"});
						$('#'+id1+' td:nth-child('+i+')>span').text($('#'+id1+' td:nth-child('+i+')>input').val());
					}
					$('#'+id1+' td:nth-child(7)>button:nth-child(2)').css({display:"inline"});
					$('#'+id1+' td:nth-child(7)>button:nth-child(3)').css({display:"none"});
					
				}
			});
		}

	</script>

		</div>
  </div><!--/row-->

</div><!--/.fluid-container-->
{%- endblock -%}