
{%- extends "admin/layout.html" -%}
{% from "base_macros.html" import progress, render_pagination %}
{%- block main -%}

<div class="span10" id="rightcontainer">
	<form class="form-inline" method="POST">
		<strong>添加新语言</strong>
		{{form.lang.form.lang_name.label}} {{form.lang.form.lang_name}} {{form.lang.form.id.label}} {{form.lang.form.id(placeholder='zh-CN')}}
		{{form.add_lang_submit}}
	</form>
	{% set tn = form.filter_entries.data %}
	{% set cl = form.current_lang.data.id %}
	{% set params = '&' + form.filter_entries.id + '=' + tn  + '&' + form.current_lang.id  + '=' + cl %}
	<div class="form-inline" style="width:!00%"> {{form.current_lang.label}} {{form.current_lang}} {{form.filter_entries.label}} {{form.filter_entries}} {{form.filter_show}} {{ render_pagination(pagination, endpoint, params) }}</div>
	<table class="table table-bordered" id="table_content">
		<tr>
			<td>简体中文</td>
			<td>{{form.current_lang.data.lang_name|d("")}}</td>
			<td>操作</td>
		</tr>
		 {%- for r in pagination.items -%}
		<tr>
				<td>{{ r.cn_str|d("") }}</td>
				<td><textarea id="item_content" name="" rows="10" cols="30" readonly="readonly">{{ r._data[form.current_lang.data.id]|d('') }}</textarea></td>
				<td><button type="button" label="编辑" id="edit" onclick="edit_item($(this))" >编辑</button>
				<button type="button" label="提交" id="update_item" onclick="post_item($(this))" data="{{ r.id }}" />提交</button>
				</td>
		</tr>
		{% endfor %}  
	</table>

{{ render_pagination(pagination, endpoint, params) }}

  <script type="text/javascript">
	  function request_data(){
		var data = "{{form.current_lang.id}}" + "=" + $("#{{form.current_lang.id}}").val();
		data = data + "&" + "{{form.filter_entries.id}}" + "=" + $("#{{form.filter_entries.id}}").val();
		data = data + "&" + "{{form.filter_show.id}}" + "=" + $("#{{form.filter_show.id}}").val();
		// $("#rightcontainer").load("{{url_for('admin.tranlate_language')}} #rightcontainer", 
		// 	data,
		// 	function(){});
		window.location.href =  "{{ url_for('admin.tranlate_language') }}" + "?" + data
	  }
function edit_item(obj){
	obj.parentsUntil("table", "tr").find("#item_content").prop("readonly", false);
}
function post_item(obj){
	var url = "{{ url_for('admin.translate_op_content') }}";
	var cl = $("#{{form.current_lang.id}}").val();
	var item_id = obj.attr("data");
	var c = obj.parentsUntil("table", "tr").find("#item_content").val();
        var pdata = {id: item_id, c: c, cl: cl};
	$.post(url, pdata, function(data){
				alert(data.msg);

	}, "json");
}
		$(document).ready(function(){
			$("#{{form.current_lang.id}}").live("change", request_data);
			$("#{{form.filter_entries.id}}").live("change", request_data);
			$("#{{form.filter_show.id}}").live("change", request_data);
		});
  </script> 
    </div><!--/span-->
  </div><!--/row-->

  <!--/.fluid-container-->
{%- endblock -%}
