{%- extends "base_layout.html" -%}
{% from "base_macros.html" import password,submit %}
{%- block content -%}
{{ form.form_tag() }}
<div class="new_item">
    <div class="tit">
    帐号：
    </div>
    <div class="bdmain">
        <div class="input_bg">
            <strong>
             <label>{{ form.user.username }} [ {{ form.user.nickname }} ]</label>
            </strong>
        </div>
    </div>  
</div>
{{ password(form.pwd) }}
{{ password(form.password_again) }}  
{{ submit('重设密码') }}  
{%- endblock -%}