{% extends "user/layout.html"%}
{% from "base_macros.html" import paginate %}
{% block subjs %}

{% endblock %}
{%- block main -%}
{% if g.user.role >= 300 or g.user.right[4] == 1 %}
<div class="span10">
    <div class="well form-inline">
        id:
        <input type="text" class="input-small" id="id">
        key：
        <input type="text" class="input-big" id="key">
        value：
        <textarea rows="3" cols="20" id="value"></textarea>
        <button type="button" class="btn" id='submit'>增加服务器</button>
    </div>
    <div class="well form-inline hidefive" id="disfive">
        编辑：<br />
        id:
        <input type="text" class="input-big" id="edit_id" readonly="readonly">
        key：
        <input type="text" class="input-big" id="edit_key">
        value：
        <textarea rows="3" cols="20" id="edit_value"></textarea>
        <button type="button" class="btn" id='edit_submit'>提交</button>
        <button type="button" class="btn" id='edit_cancel' onclick="$(this).parent().attr('class','well form-inline hidefive')">取消</button>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>id</td>
            <td>key</td>
            <td>value</td>
            <td>操作</td>
        </tr>
        {%- for r in ret -%}
        <tr>
            <td>{{ r._id }}</td>
            <td>{{ r.key }}</td>
            <td>{{ r.value }}</td>
            <td>
                {% if g.user.role >= 300 or g.user.right[0] == 1 %}
                <button type="button" class="btn" id="delete" val="{{ r._id }}" onclick="GAME.load.href_click(this)" stype="del" href="{{ url_for('user.server_gconfig_delete') }}">删除</button>
                <button type="button" class="btn" id="edit" val="{{ r._id }}" onclick="GAME.load.edit_click(this, 'server_gconfig')" stype="edit" href="{{ url_for('user.server_gconfig_data') }}">编辑</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endif %}
</div><!--/row-->

</div><!--/.fluid-container-->

<script type="text/javascript">
    $(document).ready(function(){
        $("#submit").click(function(){
            var id = $("#id").val();
            var key = $("#key").val();
            var value = $("#value").val();
            var url = "{{ url_for('user.server_gconfig_save') }}";
            $.post(url,{
                id:id, key:key, value:value 
            },function(data){
                if(data['success'] == 0){
                    alert("添加角色等级失败");
                }else{
                    location.reload()
                }
            });
        });
        $("#edit_submit").click(function(){
            var id = $("#edit_id").val();
            var key = $("#edit_key").val();
            var value = $("#edit_value").val();
            var url = "{{ url_for('user.server_gconfig_save') }}";
            $.post(url,{
                id:id, key:key, value:value
            },function(data){
                if(data['success'] == 0){
                    alert("修改失败");
                }else{
                    location.reload()
                }
            });
        });
    });
</script>
{%- endblock -%}