{% extends "user/layout.html"%}
{% from "base_macros.html" import paginate %}
{% block subjs %}
<script type="text/javascript" src="{{ 'frontend.static'|url('js/sorttable.js') }}"></script>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 35
            },
            title: {
                text: '玩家等级统计',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: {{ levelList|safe }}
            },
            yAxis: {
                title: {
                    text: '易幻'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'人';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: '人数',
                data: {{ valueList|safe }}
            }]
        });
    });
    
});
</script>
{% endblock%}
{%- block main -%}
{% if g.user.role>= 300 or g.user.right[7] == 1 %}
		<div class="span10">

			<br />
			开始等级：<input type="text" class="input-small" id="startLevel"  value="{{ startLevel }}">
			结束等级：<input type="text" class="input-small" id="endLevel"  value="{{ endLevel }}">
			<button type="button" class="btn" href="{{ url_for('user.server_all_level') }}" onclick="GAME.load.all_task(this, 'Level')">统计</button>
			<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            <table class="table table-bordered sortable"  id="unique_id">
                <tr>
                    <td>等级</td>
                    <td>人数</td>
                </tr>
                {% for r in ret %}
                <tr>
                    <td>{{ r['level']|int }}</td>
                    <td>{{ r['countlevel']|int }}</td>
                </tr>
                {% endfor %}

            </table>
		</div>
		{% endif %}
 	</div><!--/row-->
</div><!--/.fluid-container-->
{%- endblock -%}