{% extends "user/layout.html"%}
{% from "base_macros.html" import paginate %}
{% block subjs %}
<script type="text/javascript">
	$(function () {
	    var chart;
	    
	    $(document).ready(function () {
	    	
	    	// Build the chart
	        chart = new Highcharts.Chart({
	            chart: {
	                renderTo: 'container',
	                plotBackgroundColor: null,
	                plotBorderWidth: null,
	                plotShadow: false
	            },
	            title: {
	                text: 'Browser market shares at a specific website, 2010'
	            },
	            tooltip: {
	        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
	            	percentageDecimals: 1
	            },
	            plotOptions: {
	                pie: {
	                    allowPointSelect: true,
	                    cursor: 'pointer',
	                    dataLabels: {
	                        enabled: false
	                    },
	                    showInLegend: true
	                }
	            },
	            series: [{
	                type: 'pie',
	                name: 'Browser share',
	                data: [
	                    ['Firefox',   45.0],
	                    ['IE',       26.8],
	                    {
	                        name: 'Chrome',
	                        y: 12.8,
	                        sliced: true,
	                        selected: true
	                    },
	                    ['Safari',    8.5],
	                    ['Opera',     6.2],
	                    ['Others',   0.7]
	                ]
	            }]
	        });
	    });
	    
	});
</script>
{% endblock%}
{%- block main -%}
{% if g.user.role >= 300 or g.user.right[2] == 1 %}
		<div class="span10">
			<select id="server_select">
				<option>请选择服务器</option>
				<option value=""></option>
				<option value=""></option>
			</select>
			<br />
			角色id：<input type="text" class="input-small" id="playerId"> 
			角色名：<input type="text" class="input-small" id="playerName">
			<button type="button" class="btn" href="/user/server/player/task/" onclick="GAME.load.player_search(this)">查询</button>
			<table class="table table-bordered">
				<tr>
					<td>角色id</td>
					<td>用户id</td>
				</tr>
				{% for item in player_ret %}
				<tr>
					<td>{{ item['_id'] }}</td>
					<td>{{ item['uid'] }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
 	</div><!--/row-->
</div><!--/.fluid-container-->
{%- endblock -%}