{% extends "user/layout.html"%}
{% from "base_macros.html" import paginate,server %}
{% block subjs %}
<script type="text/javascript">
    $(function () {
        var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 55
                },
                title: {
                    text: '在线人数统计',
                x: -20 //center
                },
                subtitle: {
                    text: '时间分布',
                            x: -20
                },
                xAxis: {
                    categories: {{ keys|show_cout_day(searchCondition)|safe }}
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                                this.x +': '+ this.y +'';
                    }
                },
                legend: {
                    layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -10,
                            y: 100,
                            borderWidth: 0
                },
                series: [{
                    name: '最大在线人数',
                    data: {{ max_rets|safe }}
                    }, {
                        name: '最小在线人数',
                                data: {{ min_rets|safe }}
                    }, {
                        name: '平均在线人数',
                            data: {{ avg_rets|safe }}
                }]
            });
        });
    });
</script>
{% endblock%}
{%- block main -%}
		{% if g.user.role>= 300 or g.user.right[7] == 1 %}
		<div class="span10">
			<br />
			开始时间：<input type="text" class="input-small" id="start_time"  onClick="WdatePicker()" value="{{ start_time }}"> 
			结束时间<input type="text" class="input-small" id="end_time"  onClick="WdatePicker()" value="{{ end_time }}">
			<button type="button" class="btn" href="{{ url_for('user.server_online_count') }}" onclick="GAME.load.reg_search(this,'day')">按日统计</button>
			<button type="button" class="btn" href="{{ url_for('user.server_online_count') }}" onclick="GAME.load.reg_search(this,'month')">按月统计</button>
			<button type="button" class="btn" href="{{ url_for('user.server_online_count') }}" onclick="GAME.load.reg_search(this,'year')">按年统计</button>
			<button type="button" class="btn" href="{{ url_for('user.server_online_count') }}" onclick="GAME.load.reg_search(this,'hour')">按时统计</button>
			<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
		{% endif %}
 	</div><!--/row-->

</div><!--/.fluid-container-->
{%- endblock -%}