<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZL-91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZL-APP-CN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZL-APP-TW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZL-APP-YD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZL-BD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZL-DL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ZL-NET.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZL-PGY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ZL-PP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZL-TBT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ZL-UC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ZL-YDJB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>062FE63C17815230005E55A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1921BAEB178676CD0077D50B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1922A963178570BA00917635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1922AB1B178575DD00917635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1922ACEC178599C100917635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19235CCE1721753D0054F952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19235E74172175FB0054F952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19236038172176040054F952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>192361DB172176130054F952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1923637E172176260054F952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1929FA151777F683000205A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>194C0D9C172CF868009C5C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
